body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Varela Round', sans-serif;
}

button {
  font-family: 'Varela Round', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.monopoly-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: blue;
  background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.splash-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: blue;
  background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.playerProperties {
  background-color: none;
  width: 300px;
  margin: 24px 24px;
}

.player-name-icon {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,.5);
  padding: 2px 10px;
  box-shadow: -10px 25px 50px rgba(0,0,0,.5);
  border: 1px solid black;
  margin-bottom: 30px;
}

.player-name-icon i {
  font-size: 34px;
  margin-right: 10px;
  background-color: none;
  color: rgba(0,0,0,1);
}

.player-name-icon h2 {
  background-color: none;
}

.player-money {
  height: 60px;
  background-color: none;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

.player-money img {
  width: 26px;
  height: 26px;
}

.player-money h3 {
  background-color: none;
  margin-left: 5px;
}

.playerProperties-list {
  background-color: white;
  background-color: rgba(255,255,255,.8);
  padding: 10px;
  box-shadow: -10px 25px 50px rgba(0,0,0,.5);
  border: 1px solid black;
}

.playerProperty {
  background-color: none;
  margin-bottom: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.playerProperty:last-child{
  margin-bottom: 0;
}

#smallColors {
  max-width: 2px;
  height: 30px;
  border: none;
  border-left: 1px solid black;

}

.playerProperty p {
  padding-left: 5px;
  font-size: 12px;
}

.playerProperty button {
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.playerProperty button:hover {
  background-color: rgba(0,0,0,0.1);
}

.playerProperty button:nth-child(3){
  position: absolute;
  right: 40px;
}

.playerProperty button:last-child{
  background-color: none;
  position: absolute;
  right: 0;
}

.monopoly-container {
  border: 1px solid black;
  background-color: white;
  width: 720px;
  min-width: 720px;
  height: 720px;
  position: relative;
  margin: 24px 30px;
  box-shadow: -10px 25px 50px rgba(0,0,0,.5);
}

.card-display{
  position: absolute;
  border: 2px solid black;
  width: 200px;
  height: 300px;
  left: calc(50% - 102px);
  top: 140px;
  background-color: beige;
  display: block;
  z-index: 1;
}

.card-display .no-color {
  height: 40px;
}

.card-display .Brown {
  height: 40px;
}

.card-display .LightBlue {
  height: 40px;
}

.card-display .Pink {
  height: 40px;
}

.card-display .Orange {
  height: 40px;
}

.card-display .Red {
  height: 40px;
}

.card-display .Yellow {
  height: 40px;
}

.card-display .Green {
  height: 40px;
}

.card-display .DarkBlue {
  height: 40px;
}

.card-display h2 {
  height: 80px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.card-display h3 {
  width: 100%;
  margin: 5px 0 15px 0;

  text-align: center;
  background-color: none;
}

.rent-list {
  background-color: none;
  font-size: 12px;
}

.rent-list div {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;

}

.rent-list p {
  background-color: none;
  margin: 0;
}

.dice {
  position: absolute;
  width: 310px;
  height: 40px;
  left: calc(50% - 155px);
  top: calc(50% + 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dice button {
  width: 100px;
  margin: 0 2.5px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50px;
}

.card-display button {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50px;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 50px);
}

.card-display button:hover {
  cursor: pointer;
  background-color: #c7f4c7;
  z-index: 2;
}

.dice button:hover {
  cursor:pointer;
  background-color: rgba(0,255,0,.2);
}

.dice_numbers {
  background-color: none;
  position: absolute;
  width: 100px;
  height: 40px;
  left: calc(50% - 50px);
  top: calc(50% + 180px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dice_numbers div {
  height: 100%;
  width: 44%;
  max-width: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dice_numbers div img {
  width: 100%;
}

#O {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

#a {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  margin: 0;
  padding: 0;
  transform-origin: left bottom;
  transform: rotate(90deg);
}

#O .property:first-child .propertyName {
  transform: rotate(315deg);
}

#a .property:first-child .propertyName {
  transform: rotate(315deg);
}

#r .property:first-child .propertyName {
  transform: rotate(315deg);
}

#o .property:first-child .propertyName {
  transform: rotate(315deg);
}

#r {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0px;
  transform: rotate(180deg);
}

#o {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 0px;
  right: 81px;
  margin: 0;
  transform-origin: right top;
  transform: rotate(270deg);
}

.property {
  width: 61px;
  max-width: 61px;
  height: 80px;
  font-size: 6px;
  font-weight: 700;
  display: block;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
}

.property:first-child {
  background-color: beige;
  width: 80px;
  max-width: 80px;
  font-size: 12px;
}

.property:last-child {
  border-left: none;
  width: 62px;
  max-width: 62px;
}

.propertyName {
  width: 100%;
  height: 30px;
  min-height: 30px;
  background-color: none;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-tokens {
  background-color: none;
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.one {
  background-color: none;
  font-size: 20px;
  width: 24px;
  height: 24px;
  color: black;
  border-radius: 50px;
  margin: 0 5px;
}

.two {
  background-color: none;
  font-size: 20px;
  width: 24px;
  height: 24px;
  color: black;
  border-radius: 50px;
  margin: 0 5px;
}

.Brown {
  width: 100%;
  height: 20px;
  background-color: brown;
  border-bottom: 1px solid black;
}

.LightBlue {
  width: 100%;
  height: 20px;
  background-color: lightblue;
  border-bottom: 1px solid black;
  margin: 0;
}

.Pink {
  width: 100%;
  height: 20px;
  background-color: pink;
  border-bottom: 1px solid black;
}

.Orange {
  width: 100%;
  height: 20px;
  background-color: orange;
  border-bottom: 1px solid black;
}

.Red {
  width: 100%;
  height: 20px;
  background-color: red;
  border-bottom: 1px solid black;
}

.Yellow {
  width: 100%;
  height: 20px;
  background-color: yellow;
  border-bottom: 1px solid black;
}

.Green {
  width: 100%;
  height: 20px;
  background-color: green;
  border-bottom: 1px solid black;
}

.DarkBlue {
  width: 100%;
  height: 20px;
  background-color: blue;
  border-bottom: 1px solid black;
}

.no-color {
  width: 100%;
  height: 20px;
  background-color: none;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.monopoly-box .details{
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.property:hover .details {
  visibility:visible;
}

.invisible {
  display: none;
}

.disabled-button {
  pointer-events: none;
  border: 2px solid lightgrey;
  color: grey;
  background-color: #fbd7d7;
}

.in-jail {
  color: red;
}

.player-indicator {
  position: absolute;
  background-color: none;
  width: 300px;
  display: flex;
  justify-content: center;
  top: 0px;
}

.player-indicator i {
  font-size: 50px;
  background-color: none;
  z-index: 8;
  color: rgba(0,255,100,1);
  text-shadow: 0 0 2px black;
}

.chanceDescription {
  background-color: none;
  text-align: center;
}

.winner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.winner-name {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  font-size: 50px;
  font-weight: 700;
}
